<footer class="container mbs mbe flow">
    <p>
        Den här sidan innehåller elevarbeten från kursen Webbutveckling 1 på
        <a href="https://www.ntigymnasiet.se/umea/">NTIGymnasiet Umeå</a>.
    </p>
    <p>
        Sidan är skapad av
        <a href="https://github.com/jensnti">Jens Andreasson</a>, koden finns på
        <a href="https://github.com/jensnti/11ty-clicker-collection">GitHub</a>
        och sidan är hostad på <a href="https://www.netlify.com/">Netlify</a>.
    </p>
    <p>Vill du att något ska ändras på sidan så är du välkommen att göra en
        <a href="https://github.com/jensnti/11ty-clicker-collection/pulls">pull request</a>.
    </p>
</footer>